<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-tbs"
    version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>cordova-plugin-tbs</name>
    <author>ssbunny</author>
    <license>Apache 2.0 License</license>

    <engines>
        <engine name="cordova-android" version=">=7"/>
    </engines>

    <platform name="android">

        <js-module name="X5Webview" src="www/x5webview.js">
            <clobbers target="navigator.x5webview" />
        </js-module>

        <config-file parent="/*" target="res/xml/config.xml">
            <preference name="webView" value="org.apache.cordova.x5webview.X5WebViewEngine"/>
            <preference name="AppendUserAgent" value="x5webview" />
            <preference name="android-minSdkVersion" value="16" />
            <allow-navigation href="*" />
            <feature name="X5Webview">
                <param name="android-package"
                    value="org.apache.cordova.x5webview.X5WebViewAPICordovaPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>

        <lib-file src="libs/tbs_sdk.jar" />
        <lib-file src="libs/armeabi/liblbs.so" />

        <source-file src="src/android/X5WebViewAPICordovaPlugin.java"
            target-dir="src/org/apache/cordova/x5webview" />

        <source-file src="src/android/X5CookieManager.java"
            target-dir="src/org/apache/cordova/x5webview" />
        <source-file src="src/android/X5CordovaClientCertRequest.java"
            target-dir="src/org/apache/cordova/x5webview" />
        <source-file src="src/android/X5CordovaHttpAuthHandler.java"
            target-dir="src/org/apache/cordova/x5webview" />
        <source-file src="src/android/X5ExposedJsApi.java"
            target-dir="src/org/apache/cordova/x5webview" />
        <source-file src="src/android/X5WebChromeClient.java"
            target-dir="src/org/apache/cordova/x5webview" />
        <source-file src="src/android/X5WebView.java"
            target-dir="src/org/apache/cordova/x5webview" />
        <source-file src="src/android/X5WebViewClient.java"
            target-dir="src/org/apache/cordova/x5webview" />
        <source-file src="src/android/X5WebViewEngine.java"
            target-dir="src/org/apache/cordova/x5webview" />

        <info>
            Tencent Browser Service plugin for Apache Cordova 8.0+
        </info>
    </platform>

</plugin>